
*{
    font-size:small;
}

.navbar{
    background-color:#3b5d50;
}

.nav-link{
    color: white;
    opacity: 0.4;
}

.banner-section{
    background-color:#3b5d50;
}


.banner-section a{
    border-radius: 2rem;
}

.section-recent-blog a{
    text-decoration: underline;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


p{
    color: gray;
}

span{
    color: gray;
}

h6{
    font-weight: 700;
}

.icon-footer i{
    padding: 0.6rem;
    background-color: rgb(229, 226, 226);
    border-radius: 50%;
    margin-right: 0.5rem;
    color: #3b5d50;
}
.test-icon{
    background: black;
    color: white;
}

.carousel-item img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
}

.carousel-footer{
    text-align: center;
    margin-top: 1.4rem;
    margin-bottom: 5rem;
}

.carousel-indicators [data-bs-target] {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}